// Here we have our color pallette for the site

// Special Brand Colors:
$c-rvb-blue: #157CC2;
$c-rvb-orange: #F48629;
$c-rvb-orange-2: #FCE2C8;
$c-rvb-dark-gray: #424342;
$c-rvb-light-gray: #F6F6F6;
$c-rvb-white: #FFF;
